/* || general styles */


html {
    display: flex;
    align-items: center;
    font-family: 'Reggae One', cursive;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-degradado-verano_23-2148973025.jpg?w=740&t=st=1694799980~exp=1694800580~hmac=450b41a57b04d8cfff1baaedf71b07559c5546e7996dcc3a25b5169ff80697e5);
    
}

body {
    display:inline-block; 

    width: 900px;
    margin: 20px auto;
    background-color: #F2DCF2;
}



h1, h2 {
    font-family: 'Reggae One', cursive;
    
}

/* header styles */
header{
    background-color: #870CF6;
}
h1 {
    font-size: 4rem;
    text-align: center;
}

header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
   

}

/* section styles */



section article {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    background-color: #F2DCF2;
}

section p {
    margin: 5px 0;
    
    
}

section ul {
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #870CF6;
    text-align: center;
}

@media only screen and (min-width:320px) and (max-width:780px){

    body{
        width: 80%;
        font-size: x-small;
    }

    section article {
         width: 33%;
        background-color: #F2DCF2;
    }

    h1{
        font-size: 35px;
    }
    h2{
        font-size: 30px;

    }
    
}    
